body {
background-color: aliceblue;
background-image: url('../images/cafe\ bg.GIF');
background-size: cover;

}

.welcome {
    color: gray;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-weight: 32px;
    font-family: 'GFS Didot', serif;
}

a {
        color: gray;
        text-decoration: none;
        font-size: 26px;
        font-style: italic;
        text-align: center;
        font-weight: lighter;
        font-family: 'GFS Didot', serif;
}